@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gap: clamp(1rem, 4vw, 2rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(clamp(30rem, 52vw, 60rem), 100% - var(--gap) * 2);
  --scroll-padding: max(1rem, 50% - var(--content) / 2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
